<div class="{{.class}} pv4">
	<div class="ph3 mw7 center">
    {{ with .heading }}
		<h2 class="f2 b lh-title mb2">{{ . }}</h2>
    {{ end }}
    {{ with .text }}
		<p class="mb4 mw6">{{ . }}</p>
    {{ end }}

		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .items }}
				<div class="ph2-ns w-30-ns mb4 mr3 ba b--white bw1 br4"
          style="background-color: #{{.bg}}">
					<img src="{{ .image }}" alt="" class="center db mb3" style="width: 240px">
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>
	</div>
</div>
