<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb2">{{.heading}}</h2>
		<p class="mb4 mw6">{{.text}}</p>

    <div class="cf ph2-ns">
    <div class="fl w-100 w-third-ns pa2">
		<!--<div class="flex-ns flex-wrap mhn2-ns mb3">-->
			{{ range first 2 .items }}
				<div class="ph2-ns w-100-ns mb4">
					<img src="{{ .image }}" alt="" class="center db mb3" style="width: 240px">
					<p style="font-size:14pt;">{{ .text }}</p>
				</div>
			{{ end }}
		<!--</div>-->
    </div>

    <div class="fl w-100 w-third-ns pa2 mt6">
      {{ with .showcase }}
				<div class="ph2-ns w-100-ns mb4">
					<img src="{{ .image }}" alt="" class="center db mb3" style="width: 240px">
				</div>
      {{ end }}
    </div>

    <div class="fl w-100 w-third-ns pa2">
			{{ range last 2 .items }}
				<div class="ph2-ns w-100-ns mb4">
					<img src="{{ .image }}" alt="" class="center db mb3" style="width: 240px">
					<p style="font-size:13pt;">{{ .text }}</p>
				</div>
			{{ end }}
    </div>
    </div>

	</div>
</div>
