<head>

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ $.Site.BaseURL }}">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
  <!--
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
  -->
  <link rel="shortcut icon" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Ffavicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Ffavicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Ffavicon-32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Ffavicon-48x48.png">
  <link rel="apple-touch-icon" sizes="57x57" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F0357c62e-4e72-4d51-97a1-21932bd2e20a%2Fapple-touch-icon-1024x1024.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#fff">

  <!-- Open Graph Hugo https://gohugo.io/templates/internal/#open-graph -->
  {{ template "_internal/opengraph.html" . }}

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>
