<!--
<form action="" class="flex-ns mb3">

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Email address" class="w-100">
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>

</form>
-->
<iframe src="https://hottertimes.substack.com/embed" width="100%" height="150" style="border:0px solid #EEE; background:white;" frameborder="0" scrolling="yes"></iframe>
