<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

    <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
		<!--<div class="flex-l mhn2-l">-->

			<div class="flex flex-column w-100-l items-center">
        {{ $listItems := .list }}
        {{ with .list }}
        <ul class="list">
          {{ range $listItems }}
            <li class="mb3">{{ . }}</li>
          {{ end }}
        </ul>
        {{ end }}
				<p class="mw-60 tc">{{.text}}</p>
			</div>

			<div class="w-100-l ph2-l">
				<img src="{{.image}}" alt="" class="mb3">
			  <p style="margin-top:-2em;font-size:11pt;">{{.caption}}</p>
      </div>

		<!--</div>-->

    {{ $buttonText := .buttonText }}
    {{ with .buttonLink }}
		<div class="tc">
			<a href="{{ . }}" class="btn raise">{{$buttonText}}</a>
		</div>
    {{ end }}

	</div>
</div>
