{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "campaign-signup" .Params.signup }}

{{ partial "text-and-image" .Params.why_blurb }}
{{ partial "3-up" .Params.why_icons }}

{{ partial "4-up" .Params.zeo_benefits }}

{{ partial "long-text" .Params.more_benefits }}

{{ partial "text-over-image" .Params.what_blurb }}

<!--{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}-->

<!--{{ partial "blog" . }}-->

{{ end }}
